<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561567872018-pirnqlvvig8576apnut57f74om54r6jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561567872018-pirnqlvvig8576apnut57f74om54r6jn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>561567872018-a035n713c6r5tiuigembjqqco0b0kudu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0ozkJtZC2Uvpl0GkBjtZtrKO5neYKHrg</string>
	<key>GCM_SENDER_ID</key>
	<string>561567872018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticketTreeClient</string>
	<key>PROJECT_ID</key>
	<string>ticktree-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>ticktree-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561567872018:ios:7e46dd0dd8512a660514cb</string>
	<key>DATABASE_URL</key>
	<string>https://ticktree-dev-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>