<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561567872018-fj7ps2ido0q1q1urfuvqm80h9du5v180.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561567872018-fj7ps2ido0q1q1urfuvqm80h9du5v180</string>
	<key>API_KEY</key>
	<string>AIzaSyB0ozkJtZC2Uvpl0GkBjtZtrKO5neYKHrg</string>
	<key>GCM_SENDER_ID</key>
	<string>561567872018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticketTreeClient.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ticktree-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>ticktree-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561567872018:ios:7b9c760fba7d56750514cb</string>
</dict>
</plist>